.main_wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 10px;
    background: darkgray;
    border: 1px solid dimgray;
    border-radius: 5px;
    text-align: center;
}

.input {
    width: 95%;
    height: 80px;
    text-align: right;
    font-size: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.operations_wrapper button {
    width: 22%;
    font-size: 40px;
    border-radius: 5px;
    margin: 2px;
    background-color: lightskyblue;

}

.buttons_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.buttons_wrapper button {
    width: 30%;
    font-size: 40px;
    border-radius: 5px;
    margin: 2px;

}

button:hover {
    opacity: 0.7;
}

.delete_wrapper {
    display: flex;
 justify-content: space-around;

}

.delete_wrapper button {
    width: 42%;
    font-size: 25px;
    line-height: 40px;
    border-radius: 5px;
    margin: 2px;
    background-color: crimson;
}